body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-custom {
    background-color: #FDC8A0;
    border-color: #FDC8A0;
    padding: 0px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav.navbar-nav {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    margin-right: 20px; /* Отступ между логотипом и кнопками */
    padding: 0;
}

    .logo img {
        width: 70px;
        padding: 0;
    }

.links {
    display: flex;
    align-items: center;
}

/* Стили для подложки */
.button-container {
    background-color: #FFF5F0; /* Белый фон подложки, как на картинке */
    border-radius: 30px; /* Закругленные края */
    padding: 10px 20px; /* Внутренние отступы */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    background-color: #FE8E66;
    color: #445508;
    border-radius: 20px;
    padding: 10px 10px;
    width: 200px;
    margin: 0 30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
}

    .nav-button:hover {
        background-color: #FFDAB9;
        color: #333;
    }

.cl_h1 {
    margin-top: 70px;
}

/* Стили для содержимого страницы */
h2 {
    margin-bottom: 28px;
    text-align: center;
    margin-top: 100px;
    color: #4C5C13;
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #4C5C13;
}
h1 {
    color: #4C5C13;
}
.buttons {
    background-color: #FFDAB9;
    color: #445508;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 5px;
}

    .buttons:hover {
        background-color: #FE8E66;
    }

    .buttons:active {
        transform: scale(1.1);
        background-color: #FE8E66;
    }
.footer {
    max-width:1200px; 
    margin:auto; 
    display:flex; 
    flex-wrap:wrap; 
    justify-content:space-between;
}
.footer-style {
    background-color: #D9E694;
}
.columns {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}
