body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-custom {
    background-color: #FDC8A0;
    border-color: #FDC8A0;
    padding: 0px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    margin-right: 20px;
    padding: 0;
}

    .logo img {
        width: 70px;
        padding: 0;
    }

.links {
    display: flex;
    align-items: center;
}

.button-container {
    background-color: #FFF5F0;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    background-color: #FE8E66;
    color: #445508;
    border-radius: 20px;
    padding: 10px 10px;
    width: 200px;
    margin: 0 30px;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none;
}

    .nav-button:hover {
        background-color: #FFDAB9;
        color: #333;
        transform: scale(1.1);
        text-decoration: none;
    }

h2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
    color: #4C5C13;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    color: #4C5C13;
    text-align: left;
}

.buttons {
    background-color: #FE8E66;
    color: #445508;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 5px;
}

    .buttons:hover {
        background-color: #FFDAB9;
    }

    .buttons:active {
        transform: scale(1.1);
        background-color: #FFDAB9;
    }

.jumbotron {
    background-color: white;
    border-radius: 0px;
    box-shadow: 0;
    text-align: left;
}

    .jumbotron h1 {
        margin: 70px 0px 20px 0px;
        color: #4C5C13;
    }

    .jumbotron p {
        line-height: 1.3;
        font-size: 18px;
        margin-bottom: 10px;
    }

.cards {
    display: flex;
    align-items: center;
    background-color: #D9E694;
    border-radius: 20px;
    margin: 20px;
    transition: transform 0.3s ease;
}

    .cards:hover {
        transform: scale(1.1);
    }

    .cards img {
        height: 200px;
        margin: 15px;
    }

    .cards p {
        margin: 10px 50px;
        font-size: 18px;
    }

    .cards h3{
        font-size: 32px;
        margin-top: -15px;
        text-align: center;
    }


.card {
    text-decoration: none;
    color: inherit;
}

    .card:hover {
        text-decoration: none;
    }

    .card-content p {
        color: #2c3e50;
    }

.card-title-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0 0 10px 0;
}

    .card-title-list h3 {
        display: inline;
        margin: 0;
        padding: 0;
    }

.little-question {
    display: flex;
    justify-content: space-between;
}

    .little-question img {
        width: 200px;
        margin: 20px;
    }