.cells-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grid-wrapper {
    background-color: #FFF5F0;
    padding: 20px;
    border-radius: 15px;
}

.grid-table {
    border-collapse: collapse;
    background-color: #FFDAB9;
}

    .grid-table td {
        border: 1px solid #ccc;
        width: 20px;
        height: 20px;
    }

    .grid-table .alive {
        background-color: #FF4040;
    }

.cell-indicator {
    color: #FF4040;
}

.settings p {
    margin: 5px 0;
}

.settings select, .settings input[type="number"] {
    margin-left: 5px;
}

.parameters {
    color: #FF4040;
    background-color: #FFF5F0;
}

.lead {
    text-align: center;
    font-size: 26px;
}
