/* Container for two columns inside .infection-spread */
.infection-spread .container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

/* Styles for the left column (controls) */
.infection-spread .controls {
    margin-right: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .infection-spread .controls label {
        color: #445508;
        font-size: 18px;
        white-space: nowrap;
        margin-bottom: 10px;
    }

.infection-spread .range-limits {
    color: #445508;
    font-size: 18px;
    margin: 0 10px;
}

/* Center field-value */
.infection-spread .field-value-wrapper {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.infection-spread #field-value {
    color: #445508;
    font-size: 18px;
}

/* Styles for the right column (grid) */
.infection-spread .grid-wr {
    margin: auto 0;
    background-color: none;
}

.infection-spread .grid-container {
    border: 2px solid #F4A261;
    background-color: #FFE4D6;
    padding: 5px;
}

.infection-spread .grid-row {
    display: flex;
}

.infection-spread .grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #F4A261;
    background-color: #FFE4D6;
}

    .infection-spread .grid-cell.infected {
        background-color: #F4A261;
    }

    .infection-spread .grid-cell.immune {
        background-color: #A9D6A9;
    }

/* Buttons styling */
.two-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

    .two-buttons button {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

/* Slider row styling */
.infection-spread .slider-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.infection-spread .conte-container {
    display: flex;
    align-items: center;
}

/* Theory link styling */
.theory-link {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

    .theory-link a {
        color: #FE8E66;
        text-decoration: none;
    }

        .theory-link a:hover {
            color: #FFDAB9;
            text-decoration: underline;
        }

/* Probabilistic Cellular Automaton section */
#vero-klet-avt {
    display: flex;
    align-items: center;
    gap: 20px;
}

    #vero-klet-avt img {
        width: 250px;
        height: 250px;
    }

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Simulation message */
.simulation-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #A9D6A9;
    color: #445508;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
