/* Контейнер для двух колонок внутри .infection-spread */
.infection-spread .container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

/* Styles for the left column (controls) */
.infection-spread .controls {
    margin-right: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .infection-spread .controls label {
        color: #445508;
        font-size: 18px;
        white-space: nowrap;
        margin-bottom: 10px;
    }

.infection-spread .range-limits {
    color: #445508;
    font-size: 18px;
    margin: 0 10px;
}

.infection-spread #field-size {
    width: 150px;
    vertical-align: middle;
}

/* Стили для центрирования field-value */
.infection-spread .field-value-wrapper {
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.infection-spread #field-value {
    color: #445508;
    font-size: 18px;
}

/* Стили для правой колонки (сетка) внутри .infection-spread */
.infection-spread .grid-wrapper {
    flex: 2;
    display: flex;
    justify-content: center;
}

.infection-spread .grid-container {
    border: 2px solid #F4A261;
    background-color: #FFE4D6;
    padding: 10px;
}

.infection-spread .grid-row {
    display: flex;
}

.infection-spread .grid-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #F4A261;
    display: inline-block;
    background-color: #FFE4D6;
    vertical-align: top;
}

    .infection-spread .grid-cell.infected {
        background-color: #F4A261;
    }

    .infection-spread .grid-cell.immune {
        background-color: #A9D6A9;
    }

.two-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

    .two-buttons button {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

.infection-spread .slider-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.infection-spread .conte-container {
    display: flex;
    flex-direction: row;
}

.infection-spread .slider-container {
    display: block;
}

#button2:hover {
    cursor: default;
    background-color: #FFDAB9;
}

/* плавная прокрутка для якорей */
html {
    scroll-behavior: smooth;
}

.theory-link {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

    .theory-link a {
        color: #FE8E66;
        text-decoration: none;
        transition: color 0.3s ease; /* Плавное изменение цвета */
    }

        .theory-link a:hover { /* при наведении */
            color: #FFDAB9;
            text-decoration: underline;
        }

.link-to-theory {
    display: flex;
    justify-content: center;
}

    .link-to-theory p {
        margin: 20px;
        margin-left: 200px;
    }

#vero-klet-avt {
    display: flex;
    align-items: center;
    gap: 20px;
}

    #vero-klet-avt img {
        width: 250px;
        height: 250px;
    }

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Simulation message */
.simulation-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #A9D6A9;
    color: #445508;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
